include incl/header.pug

body
    <div id="indexbd">
        p  <a href="/login">Klicka här för att Logga In!</a>
        p  <a href="/swish">Klicka här för att komma till Swish-appen!</a>
    </div>

include incl/footer.pug
